*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    /* background-color: blueviolet; */
    background-image: url(https://tse3.mm.bing.net/th/id/OIP.VSORiBGfxOXmHPJExXwBfgHaE7?rs=1&pid=ImgDetMain&o=7&rm=3);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
    display: flex;
    justify-content: center;
    height: 500px;
    width: 400px;
    background:rgba(255,255,255,.12);
    backdrop-filter:blur(18px);
    border-radius: 15px;
    border: 1.5px solid gray;
    box-shadow: 0 0 10px gray;
    transition: all 1s;
}
.info:hover{
     transform: translatey(3px);
}
input{
    margin-top: 20px;
    padding: 14px;
    border-radius: 10px;
    font-size: 15px;
    width: 300px;
}
.container{
    text-align: center;
    
    
}
h1{
    color: white;
    margin-top: 20px;
}
button{
    margin-top: 40px;
    padding: 12px;
    width: 150px;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    color: white;
    background-color: rgb(57, 57, 199);
}
button:hover{
    background-color: green;
    box-shadow: 0 0 5px rgb(7, 192, 7);
}
.btns{
    display: flex;
     gap: 15px;
     margin-top: 40px;
}
.form-value{
    height: 300px;
    width: 460px;
    background:rgba(255,255,255,.12);
    backdrop-filter:blur(18px);
    color: white;
    margin-left: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    gap: 20px;
    padding: 50px;
    text-shadow:0 0 10px blue ;
    border: 1.5px solid gray;
    box-shadow: 0 0 10px gray;
    transition: all 1s;
}
.form-value:hover{
    transform: translatey(3px);
}
h3{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 1px solid gray;
}
form{
    background:rgba(255,255,255,.12);
    backdrop-filter:blur(18px);
}